<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mallorca DS Concierge Contact Form</h4>

                <form class="form-material m-t-40">
                    <div class="form-group">
                        <label>Default Text <span class="help"> e.g. "George deo"</span></label>
                        <input type="text" class="form-control form-control-line" value="Some text value..."> </div>
                    <div class="form-group">
                        <label for="example-email">Email <span class="help"> e.g. "example@gmail.com"</span></label>
                        <input type="email" id="example-email2" name="example-email" class="form-control" placeholder="Email"> </div>


                    <div class="form-group">
                        <label>Text area</label>
                        <textarea class="form-control" rows="5"></textarea>
                    </div>


                </form>
            </div>
        </div>

    </div>